<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "user_page" %>
    <%= javascript_include_tag "custom" %>
</head>
<body class="top-page">
  <header>
    <h1>ワークスペース</h1>
  </header>

<body>
  <div class="grid-container">
    <div class="grid-item withouttime">
      <%= link_to("TODOリスト", "/user_page/todo", class:"TODO_link")  %>
    </div>
    <div class="grid-item withouttime">
    <img id="myImage" class="member_icon" decording="async" src="/peace.png">
        <script>
          var randomNum = Math.random();
          if (randomNum < 0.9) {
            document.getElementById("myImage").src = "/peace.png";
          } else if (randomNum < 0.95) {
            document.getElementById("myImage").src = "/sleep.png";
          } else {
            document.getElementById("myImage").src = "/noman.png";
          }
        </script>
      <%= link_to("MEMBER", "/members/index", class:"MEMBER_link")  %>
    </div>
    <div class="grid-item withouttime">
      <img class="ideamemo", decording="async" src="/ideamemo2.png">
    </div>
    <div class="grid-item countdown-container">
    <div class="text">ハッカソン締め切りまで</div>
  <div id="countdown">
  
    <div class="time-block">
      <div id="days" class="time"></div>
      <span class="time-label">日</span>
    </div>
    <div class="time-block">
      <div id="hours" class="time"></div>
      <span class="time-label">時</span>
    </div>
    <div class="time-block">
      <div id="minutes" class="time"></div>
      <span class="time-label">分</span>
    </div>
    <div class="time-block">
      <div id="seconds" class="time"></div>
      <span class="time-label">秒</span>
    </div>
  </div>
  <div class="input-container">
    <label for="deadline-input">締め切り日時:</label>
    <input type="datetime-local" id="deadline-input">
    <button id="set-deadline">Set</button>
  </div>
</div>

  </div>
</body>
</html>
